@model Reticulas.Models.ViewModels.MapaViewModel
@{
    Layout = "Layout";
}

<h1>
    <a class="btn" href="javascript: history.back()">&#x25c0; Regresar</a>
    @Model.NombreCarrera
</h1>



<h2>@Model.Plan</h2>
<h2>Total de creditos: @Model.Creditos</h2>
<section class="reticula">
    <table>
        <thead>
            <tr>
                @foreach (var s in Model.Semestre)
                {
                    <th>@s.NumSemestre Semestre</th>
                }
            </tr>
        </thead>
        <tr>
            @foreach (var s in Model.Semestre)
            {
            <td>
                    @foreach (var m in s.Materias)
                    {
                        <div class="materia">
                            <span class="clave">@m.Clave</span>
                            <span class="nombre">@m.Nombre</span>
                            <span class="tpc">@m.Creditos</span>
                        </div>
                    }
            </td>
            }
        </tr>

    </table>
</section>